@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@theme {
  /* Base */
  --color-dark-a0: #000000;
  --color-light-a0: #ffffff;

  /* Primary */
  --color-primary-a0: #5079ab;
  --color-primary-a10: #6587b4;
  --color-primary-a20: #7995bd;
  --color-primary-a30: #8ca3c7;
  --color-primary-a40: #9fb2d0;
  --color-primary-a50: #b2c1d9;

  /* Surface */
  --color-surface-a0: #121212;
  --color-surface-a10: #282828;
  --color-surface-a20: #3f3f3f;
  --color-surface-a30: #575757;
  --color-surface-a40: #717171;
  --color-surface-a50: #8b8b8b;

  /* Tonal surface */
  --color-surface-tonal-a0: #191b1f;
  --color-surface-tonal-a10: #2e3034;
  --color-surface-tonal-a20: #45464a;
  --color-surface-tonal-a30: #5c5e61;
  --color-surface-tonal-a40: #757779;
  --color-surface-tonal-a50: #8f9093;
}

body {
  background: #121212;
  padding-top: env(safe-area-inset-top);
}

@keyframes squish {
  0% {
    transform: scale(1, 1);
    box-shadow: inset 0px 0px 6px 2px rgb(255 255 255 / 0.2);
  }

  30% {
    transform: scale(0.90, 1.45);
  }

  /* stretch wide, squash vertically */
  50% {
    box-shadow: inset 0px 0px 6px 2px rgb(255 255 255 / 1);
  }

  60% {
    transform: scale(1.25, 0.90);
  }

  /* little rebound */
  100% {
    transform: scale(1, 1);
    box-shadow: inset 0px 0px 6px 2px rgb(255 255 255 / 0.2);
  }
}

@layer utilities {
  .shadow-inset {
    --tw-shadow: inset 0 0px 6px 2px var(--tw-shadow-color);
    --tw-shadow-colored: inset 0 0 6px 2px var(--tw-shadow-color);
    box-shadow: var(--tw-shadow-colored);
  }
}

@layer utilities {
  .animate-squish {
    animation: squish 320ms ease-out forwards;
  }

  /* optional: quick variants for different speeds */
  .animate-squish-200 {
    animation: squish 200ms ease-out forwards;
  }

  .animate-squish-500 {
    animation: squish 500ms ease-out forwards;
  }

  .animate-squish-300 {
    animation: squish 300ms ease-out forwards;
  }
}